@use '_variables';

.event{
    font-family: 'Avenir';
    background-image: linear-gradient( 180deg, variables.$corGradient1, variables.$corGradient2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--image-right{
        display: flex;
        flex-direction: row-reverse;
    }

    &__title{
        background-color: transparent;
        color: variables.$corPrimary;
        font-family: variables.$fontPrincipalNav;
        font-size: 42px;
        text-align: center;
        padding: 30px;
        @media (max-width:750px){
            margin-top: 100px;
        }
    }

    &__attractions{
        display: flex;
        flex-direction: column;
        
        &__title{
            background-color: transparent;
            font-size: 28px;
            font-weight: bold;
            padding: 40px;
            text-align: center;
            text-transform: uppercase;
            margin: 20px 0;

            @media (max-width:700px){
                margin: 0;
                padding: 10px 0;
            }
        }

        &__list{
            display: flex;
            gap: 24px;
            align-items: center;

            @media (max-width:700px){
                flex-direction: column;
                text-align: center;
                margin: 40px 0;
            }

            &__item{
                background-color: transparent;
                &__image{
                    width: 200px;
                    border-radius: 10px;
                }
            }
        }
    }
}