$fontPrincipalNav : 'Permanent Marker';
$fontCitacao : Arial, Helvetica, sans-serif;
$fontPrincipal: 'Avenir';

//cores do site

$corPrimary:#f83729;
$corSecundary:#040201;
$corTertiary:#fff;
$corGradient1: #040201;
$corGradient2: #f837291c;
