@use 'header';
@use 'timer';
@use 'event';
@use '_variables';

@font-face{
    font-family: 'Action_comic';
    src: url("../../assets/fonts/Action\ Comics.ttf");
}

@font-face{
    font-family: 'Action_comic_black';
    src: url("../../assets/fonts/Action\ Comics\ Black.ttf");
}

@font-face{
    font-family: 'Avenir';
    src: url("../../assets/fonts/Avenir-Regular.woff2");
}

@font-face{
    font-family: 'Avenir-bold';
    src: url("../../assets/fonts/Avenir-Bold.woff2");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    padding-bottom: 98px;
    background-color: variables.$corSecundary;
    overflow-x: hidden;
    @media(max-width:640px){
        padding-bottom: 92px;
    }
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media(max-width:640px){
        max-width: 80%;
    }

    @media(max-width:1024px){
        max-width: 90%;
    }
}

.button{
    padding: 16px;
    font-family: variables.$fontPrincipal;
    font-weight: bold;
    font-size: 18px;
    color: variables.$corTertiary;
    background-color: variables.$corPrimary;
    text-decoration: none;
    text-transform: uppercase ;
    border: 1px solid variables.$corPrimary;
    border-radius: 4px;
}