@use 'header';
@use 'timer';

@font-face{
    font-family: 'Action_comic';
    src: url("../../assets/fonts/Action\ Comics.ttf");
}

@font-face{
    font-family: 'Action_comic_black';
    src: url("../../assets/fonts/Action\ Comics\ Black.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media(max-width:640px){
        max-width: 80%;
    }

    @media(max-width:1024px){
        max-width: 90%;
    }

}

.button{
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    text-decoration: none;
    text-transform: uppercase ;
    border: 1px solid #000;
    border-radius: 4px;
}